.cke_chrome{
    border: none !important;
    height: 100% !important;
    padding: 0px;
}
.cke_inner{
    height: 100% !important;
    display: flex;
    flex-direction: column;
}
.cke_contents{
    flex: 1;
    display: flex !important;
}
textarea.cke_source{
    height: auto !important;
    flex: 1;
    padding: 8px !important;
}
.cke_wysiwyg_frame .cke_editable{
    font-size: 14px !important;
    margin: 0px !important;
}