.view {
    overflow: hidden;
    flex: 1;
}

.blankLine {
    height: 36px;
    background: #fff;
    line-height: 36px;
    display: flex;
    align-items: center;
    outline: none;
}

.textInput {
    outline: none;
    margin: 0px;
    padding: 0px;
    color: #333;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1;
    height: 100%;
    font-size: 13px;
    background: transparent;
    resize: none;
}

.btn {
    font-size: 13px;
    height: 28px;
    border-radius: 3px;
    color: #fff;
    line-height: 28px;
    background: #1787fb;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn:hover {
    background: #137ae3;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.2);
    background: #fff;
}
.searchTagContainer{
    max-width: 386px;overflow-x: auto;padding-top: 3px;
    padding-left: 6px;
}
.tag {
    display: inline-block;
    background: #e7f3ff;
    line-height: 22px;
    color: #1787fb;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 16px;
    cursor: pointer;
    border: 1px solid #0084FF;
    max-width: 126px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    position: relative;  

    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

.tagClose {
    display: inline-block;
    position: absolute;
    width: 12px;
    text-align: center;
    font-size: 12px;

}

.tagText {
    max-width: 72px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tagClose:hover {
    color: #ee4242;
}
.noDataTip {
    margin-top: 22%;
    text-align: center;
    font-size: 32px;
    line-height: 66px;
    color: #bbb;
}
.maskExceptMenu {
    position: absolute;
    top: 8px;
    left: 36px;
    right: 8px;
    border-radius: 3px;
    bottom: 34px;
    background: #ccc;
    z-index: 99;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.rightContainer {
    float: right;
    width: 238px;
    height: 100%;
    padding-bottom: 8px;
    margin-right: 8px;
    display: flex;
    flex-flow: column;
}
.leftContainer {
    margin-right: 246px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.recent {
    position: absolute;
    border-top: 1px solid #e5e5e5;
    line-height: 32px;
    right: 8px;
    top: 45px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 999;
  }

  .recent .item {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 256px;
    min-width: 120px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    cursor: pointer;
  }

  .recent .item:hover {
    background: #dcedfe;
    color: #007acc;
  }
  #helpContainer {
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 32px;
  }
