.view {
    overflow: hidden;
    flex: 1;
}

.blankLine {
    height: 36px;
    background: #fff;
    line-height: 36px;
    display: flex;
    align-items: center;
    outline: none;
}

.textInput {
    outline: none;
    margin: 0px;
    padding: 0px;
    color: #333;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    flex: 1;
    height: 100%;
    font-size: 13px;
    background: transparent;
}

.btn {
    font-size: 13px;
    height: 28px;
    border-radius: 3px;
    color: #fff;
    line-height: 28px;
    background: #1787fb;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.btn:hover {
    background: #137ae3;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.box {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.2);
    background: #fff;
}

.tag {
    display: inline-block;
    background: #e7f3ff;
    line-height: 22px;
    color: #1787fb;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 16px;
    margin-left: 8px;
    cursor: pointer;
    border: 1px solid #0084FF;
    max-width: 126px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    position: relative;
}

.tagClose {
    display: inline-block;
    position: absolute;
    width: 12px;
    text-align: center;
    font-size: 12px;

}

.tagText {
    max-width: 82px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tagClose:hover {
    color: #ee4242;
}

.swal-button--confirm {
    background: #e7f3ff;
    color: #1787fb;
}

.swal-footer {
    text-align: center;
}

.swal-button:focus {
    box-shadow: none;
}