.node {
    cursor: pointer;
}

.node rect {
    rx: 3;
    ry: 3;

}

.node text{
    fill: #000;
    stroke-width: 0;
}

.nodeGrade1 rect {
    fill: #0084ff;
}
.nodeGrade1>g>text {
    fill: #fff;
}

.nodeGrade2 rect {
    fill: #e7f3ff;
}

.nodeGradeElese rect {
    fill: #e7f3ff;
}

.nodeSelected>g>rect {
    stroke: #006288;
    stroke-width: 1.6;
}
.svgInput {
    height: 28px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    outline: none;
    border: 1px solid #0084ff;
    width: calc(100% - 14px);
  }