.swal-button--confirm {
    background: #e7f3ff;
    color: #1787fb;
}

.swal-footer {
    text-align: center;
}

.swal-button:focus {
    box-shadow: none !important;
}
.swal-text {
    text-align: center !important;
}