html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	box-sizing: border-box;
	font-size: 13px;
	font-family: 'Microsoft Yahei', -apple-system, Ubuntu, sans-serif;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.ck.ck-toolbar{
	border: none !important;
}
.ck.ck-editor__editable_inline{
	border: none !important;
	border-top: 1px solid rgb(230, 231, 232) !important;	
}
.ck-focused{
	box-shadow: none !important;
}