#editor {
  position: absolute;
  bottom: 72px;
  left: 8px;
  top: 76px;
  right: 8px;
  z-index: 9;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#editorContainer {
  height: 100% !important;
}

#ta {
  height: 100% !important;
  width: 100% !important;
}

.edui-notadd .edui-editor {
  border: none !important;
  position: inherit !important;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.edui-editor-bottomContainer .edui-notadd {
  display: none !important;
}

.edui-notadd .edui-editor-toolbarbox {
  position: inherit !important;
  zoom: normal !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.edui-notadd .edui-editor-iframeholder {
  position: inherit !important;
  flex: 1;
  width: 100% !important;
}

.CodeMirror-wrap {
  position: initial !important;
}

.cm-s-default {
  position: initial !important;
}

.edui-notadd .edui-editor-bottomContainer {
  display: none !important;
}