.ex__xxm__border{
    box-shadow:inset 0px 0px 0px 1px red !important;
}
.ex__xxm__title{
    box-shadow:inset 0px 0px 0px 1px red !important;
}
.ex__xxm__content{
    box-shadow:inset 0px 0px 0px 1px red !important;
}
.ex__xxm__float__div{
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    height: 26px;
    line-height: 26px;
    z-index: 99999999;
    background: red;
    opacity: 0.8;
    color: #fff;
    border-radius: 6px;
    display: none;
    font-size: 12px;
}