<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>想学吗-个人知识管理工具</title>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
  <script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
  <% } %>
  <link href="https://at.alicdn.com/t/font_449040_y94sfmqacpp.css" rel="stylesheet" type="text/css" />
  <link href="./static/tui/tui-editor.css" rel="stylesheet" type="text/css" />
  <link href="./static/tui/tui-editor-contents.css" rel="stylesheet" type="text/css" />
  <link href="./static/tui/codemirror.css" rel="stylesheet" type="text/css" />
  <link href="./static/tui/github.min.css" rel="stylesheet" type="text/css" />
  <script src="./static/tui/tui-editor-Editor-full.js"></script>
  <script charset="utf-8" src="./static/ckeditor/ckeditor.js"></script>
</head>

<body>
  <div id="app"></div>
  <% if (!process.browser) { %>
  <script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(
      /\\/g, '\\\\')
  </script>
  <% } %>
  <!-- webpack builds are automatically injected -->
</body>

</html>