/dialogs/*
!/dialogs/internal.js
/kityformula-plugin/*
!/kityformula-plugin/kityFormulaDialog.html
!/kityformula-plugin/defaultFilterFix.js
!/kityformula-plugin/addKityFormulaDialog.js
/themes/*
/third-party/*
/i18n/*